body{
    background-color: #fff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: auto;
    padding: 0;
    background-image: url(https://images2.alphacoders.com/108/1081121.png);
    background-size: cover;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
section-1{
    text-align: center;
    float: left;
    width: 50%;
    height: 100vh;
}
section-2{
    width: 50%;
    float: right;
    height: 100vh;
}
section-2 {
    text-align: center;
    color: white;
}
section-2 h1{
    position: relative;
    top: 150px;
    justify-content: center;
}
section-2 p{
    font-family: sans-serif;
    justify-content: center;
    position: relative; 
    top: 170px;
    line-height: 2;
    line-height: 0.8cm;
}
img{
    height: 40px;
    width: 40px;
    position: relative;
    top: 120px;
    left: 5px;
    list-style: circle;
}
section-1 h1{
    text-decoration: solid;
    font-weight: 900;
    position: relative;
    top: 80px;
    font-size: 1cm;
}

form{
    position: relative;
    top: 180px
}
.forgot{
    position: relative;
    top: 200px;
    left: 150px;
    text-decoration: none;
    color: #eee;
}
.input{
    position: relative;
    top: 240px;
    right: 120px;
    left: 80px;
    justify-content: center;
    border: none;
    color: red;
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
    transition: color 2s;
}
.input:hover{
    background-color: red;
    color: #eee;
    transition: step-start;
}
section-1 h2{
    font-weight: 100;
    position: relative;
    top: 180px;
    font-size: medium;
    color: #eee;
    font-size: 0.45cm;
}
.email{
    justify-content: center;
    height: 30px;
    background-color: #eee;
    border: none;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}
.password{
    position: relative;
    top: 10px;
    justify-content: center;
    height: 30px;
    background-color: #eee;
    border: none;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}
